In [82]:
from pathlib import Path 
import pandas as pd 
import numpy as np 

dataset_path = Path().absolute() / "Data"

In [83]:
def retrieve_data(path: Path) -> pd.DataFrame :

    return pd.read_csv(path)

In [84]:
customers = retrieve_data(dataset_path / "noahs-customers.csv")

noahs_products = retrieve_data(dataset_path / "noahs-products.csv")

noahs_orders = retrieve_data(dataset_path / "noahs-orders.csv")
orders_items = retrieve_data(dataset_path / "noahs-orders_items.csv")

In [85]:
# from puzzle six, we know that the customer in question here is Sherri Long

customers[customers['name'] == 'Sherri Long']

,customerid,name,address,citystatezip,birthdate,phone,timezone,lat,long
3166,4167,Sherri Long,2092 Seward Ave,"Bronx, NY 10473",1975-04-09,585-838-9161,America/New_York,40.8182,-73.86752

In [86]:
# looking through sherry's orders

sherry_orders = noahs_orders[noahs_orders['customerid'] == 4167]

In [87]:
orders_items

        orderid      sku  qty  unit_price
0          1001  PET4571    1        0.99
1          1002  PET4491    1        1.08
2          1002  TOY7498    1       12.51
3          1003  PET5509    1        1.23
4          1004  PET3929    1        2.10
...         ...      ...  ...         ...
426536   214232  COL6388    1        4.25
426537   214232  PET5199    1        1.75
426538   214232  PET4978    1        1.22
426539   214232  DLI7179    1        1.25
426540   214232  PET3373    1        1.20

[426541 rows x 4 columns]

In [88]:
sherry_orders = sherry_orders.merge(orders_items[['orderid', 'sku']], how = 'left', on = 'orderid')

In [89]:
noahs_products

,sku,desc,wholesale_cost,dims_cm
0,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2
1,PET0006,"Vegan Adult Cat Food, Chicken & Chicken",1.41,19.9|16.9|0.3
2,PET0019,"Dry Senior Cat Food, Tuna & Tuna",0.89,18.6|8.7|7.2
3,PET0023,"Gluten-free Cat Food, Beef & Beef",1.47,17.4|4.4|4.0
4,PET0027,"Wet Adult Cat Food, Tuna & Tuna",1.03,14.3|14.3|3.0
...,...,...,...,...
1273,TOY9981,Handmade Blocks,8.12,13.4|7.0|4.0
1274,PET9985,"Gluten-free Cat Food, Chicken & Chicken",1.41,11.7|10.0|4.2
1275,PET9986,"Gluten-free Adult Cat Food, Salmon & Salmon",1.38,19.1|2.8|1.4
1276,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7
1277,TOY9997,Power Doll,10.83,11.9|9.4|1.0

In [90]:
sherry_orders = sherry_orders.merge(noahs_products[['sku', 'desc']], how = 'left', on = 'sku')

In [91]:
sherry_orders

,orderid,customerid,ordered,shipped,items,total,sku,desc
0,11265,4167,2017-05-13 10:58:07,2017-05-13 15:00:00,NaN,9.11,TOY0481,Automatic Board Game
1,15650,4167,2017-06-26 19:48:36,2017-06-26 19:48:36,NaN,16.74,PET7145,"Wet Cat Food, Turkey & Turkey"
2,15650,4167,2017-06-26 19:48:36,2017-06-26 19:48:36,NaN,16.74,HOM2761,Rug Cleaner
3,15650,4167,2017-06-26 19:48:36,2017-06-26 19:48:36,NaN,16.74,TOY1479,Star Wars Doll
4,15650,4167,2017-06-26 19:48:36,2017-06-26 19:48:36,NaN,16.74,PET3443,"Gluten-free Senior Cat Food, Chicken & Chicken"
5,15650,4167,2017-06-26 19:48:36,2017-06-26 19:48:36,NaN,16.74,PET7932,"Gluten-free Senior Cat Food, Chicken & Chicken"
6,15650,4167,2017-06-26 19:48:36,2017-06-26 19:48:36,NaN,16.74,PET9768,"Wet Adult Cat Food, Turkey & Turkey"
7,22399,4167,2017-09-02 13:13:47,2017-09-02 19:00:00,NaN,0.99,DLI8621,Broccoli Knish
8,22818,4167,2017-09-06 13:02:34,2017-09-06 14:30:00,NaN,5.93,PET1947,"Dry Cat Food, Turkey & Turkey"
9,22818,4167,2017-09-06 13:02:34,2017-09-06 14:30:00,NaN,5.93,BKY5717,Caraway Bagel
10,22818,4167,2017-09-06 13:02:34,2017-09-06 14:30:00,NaN,5.93,TOY8310,Toy Train
11,25301,4167,2017-10-01 08:59:38,2017-10-01 20:15:00,NaN,1.98,PET5670,"Vegan Adult Cat Food, Duck & Duck"
12,25301,4167,2017-10-01 08:59:38,2017-10-01 20:15:00,NaN,1.98,BKY6606,Sesame Bialy
13,27934,4167,2017-10-27 19:32:56,2017-10-27 19:32:56,NaN,0.99,BKY7716,Caraway Twist
14,29093,4167,2017-11-08 13:30:37,2017-11-08 13:30:37,NaN,0.99,PET4122,"Wet Adult Cat Food, Shrimp & Shrimp"
15,38406,4167,2018-02-12 09:53:05,2018-02-12 20:30:00,NaN,7.33,TOY6686,Transformers Airplane
16,45460,4167,2018-04-23 21:26:57,2018-04-29 09:15:00,NaN,1.95,TOY0543,Manual Ball
17,48064,4167,2018-05-19 12:08:48,2018-05-19 18:15:00,NaN,0.99,PET7932,"Gluten-free Senior Cat Food, Chicken & Chicken"
18,54423,4167,2018-07-22 16:00:13,2018-07-22 19:45:00,NaN,0.99,PET8190,"Vegan Adult Cat Food, Chicken & Chicken"
19,59747,4167,2018-09-14 12:54:22,2018-09-14 17:15:00,NaN,2.82,TOY2530,Super Yoyo
20,70503,4167,2018-12-31 12:26:58,2018-12-31 12:26:58,NaN,2.06,COL7063,Noah's Poster (azure)
21,73741,4167,2019-02-01 07:36:29,2019-02-01 11:45:00,NaN,2.97,PET2934,"Dry Senior Cat Food, Beef & Beef"
22,73741,4167,2019-02-01 07:36:29,2019-02-01 11:45:00,NaN,2.97,PET5567,"Wet Senior Cat Food, Chicken & Chicken"
23,73741,4167,2019-02-01 07:36:29,2019-02-01 11:45:00,NaN,2.97,TOY5005,Mega Fidget Toy
24,85128,4167,2019-05-25 11:11:23,2019-05-25 13:30:00,NaN,0.99,PET3864,"Vegan Senior Cat Food, Tuna & Tuna"
25,89350,4167,2019-07-05 20:07:41,2019-07-11 12:00:00,NaN,1.98,PET3127,"Wet Cat Food, Beef & Beef"
26,89350,4167,2019-07-05 20:07:41,2019-07-11 12:00:00,NaN,1.98,PET6955,"Gluten-free Cat Food, Chicken & Chicken"
27,95348,4167,2019-09-03 20:45:45,2019-09-03 20:45:45,NaN,8.50,PET6420,"Wet Senior Cat Food, Chicken & Chicken"
28,95348,4167,2019-09-03 20:45:45,2019-09-03 20:45:45,NaN,8.50,PET4195,"Gluten-free Senior Cat Food, Tuna & Tuna"
29,95348,4167,2019-09-03 20:45:45,2019-09-03 20:45:45,NaN,8.50,PET1816,"Gluten-free Senior Cat Food, Duck & Duck"
30,95348,4167,2019-09-03 20:45:45,2019-09-03 20:45:45,NaN,8.50,TOY8407,Automatic Ball
31,95348,4167,2019-09-03 20:45:45,2019-09-03 20:45:45,NaN,8.50,PET4554,"Dry Cat Food, Beef & Beef"
32,95348,4167,2019-09-03 20:45:45,2019-09-03 20:45:45,NaN,8.50,PET2901,Adult Cat Food
33,95348,4167,2019-09-03 20:45:45,2019-09-03 20:45:45,NaN,8.50,PET3384,"Dry Adult Cat Food, Turkey & Turkey"
34,95348,4167,2019-09-03 20:45:45,2019-09-03 20:45:45,NaN,8.50,PET1836,"Gluten-free Cat Food, Duck & Duck"
35,100135,4167,2019-10-22 05:09:55,2019-10-22 13:15:00,NaN,2.97,PET0293,"Vegan Cat Food, Tuna & Tuna"
36,100135,4167,2019-10-22 05:09:55,2019-10-22 13:15:00,NaN,2.97,PET5998,"Gluten-free Senior Cat Food, Duck & Duck"
37,100135,4167,2019-10-22 05:09:55,2019-10-22 13:15:00,NaN,2.97,PET5138,"Wet Senior Cat Food, Salmon & Salmon"
38,110283,4167,2020-02-01 12:10:51,2020-02-01 12:10:51,NaN,6.73,TOY2289,Noah's Train
39,116569,4167,2020-04-04 15:16:13,2020-04-04 15:16:13,NaN,2.97,PET9792,"Dry Cat Food, Shrimp & Shrimp"
40,116569,4167,2020-04-04 15:16:13,2020-04-04 15:16:13,NaN,2.97,PET0937,"Dry Adult Cat Food, Salmon & Salmon"
41,116569,4167,2020-04-04 15:16:13,2020-04-04 15:16:13,NaN,2.97,PET3864,"Vegan Senior Cat Food, Tuna & Tuna"
42,124821,4167,2020-06-28 11:36:06,2020-06-28 11:36:06,NaN,13.04,COL7955,Noah's Action Figure (green)
43,137827,4167,2020-11-07 11:39:09,2020-11-07 11:39:09,NaN,1.98,PET5402,"Vegan Senior Cat Food, Pumpkin & Pumpkin"
44,137827,4167,2020-11-07 11:39:09,2020-11-07 11:39:09,NaN,1.98,PET9427,"Vegan Cat Food, Beef & Beef"
45,144522,4167,2021-01-11 18:52:55,2021-01-11 18:52:55,NaN,2.53,TOY5767,Ultra Slinky
46,144522,4167,2021-01-11 18:52:55,2021-01-11 18:52:55,NaN,2.53,PET0327,"Gluten-free Senior Cat Food, Pumpkin & Pumpkin"
47,145441,4167,2021-01-21 06:26:13,2021-01-21 20:45:00,NaN,5.61,TOY1551,Mechanical Toy Soldier
48,145441,4167,2021-01-21 06:26:13,2021-01-21 20:45:00,NaN,5.61,PET2698,"Dry Senior Cat Food, Turkey & Turkey"
49,161544,4167,2021-07-03 10:55:19,2021-07-03 10:55:19,NaN,2.57,TOY4808,Disney Stickers
50,161544,4167,2021-07-03 10:55:19,2021-07-03 10:55:19,NaN,2.57,PET0293,"Vegan Cat Food, Tuna & Tuna"
51,170967,4167,2021-10-07 14:58:09,2021-10-07 20:15:00,NaN,6.65,COL6858,Noah's Jersey (blue)
52,170967,4167,2021-10-07 14:58:09,2021-10-07 20:15:00,NaN,6.65,PET6409,"Vegan Cat Food, Pumpkin & Pumpkin"
53,172482,4167,2021-10-23 10:15:32,2021-10-23 10:15:32,NaN,1.98,PET7484,"Dry Senior Cat Food, Duck & Duck"
54,172482,4167,2021-10-23 10:15:32,2021-10-23 10:15:32,NaN,1.98,PET2703,"Vegan Adult Cat Food, Tuna & Tuna"
55,174753,4167,2021-11-14 13:18:45,2021-11-14 17:15:00,NaN,3.07,TOY0994,Handmade Ball
56,180771,4167,2022-01-13 18:37:23,2022-01-13 18:37:23,NaN,13.62,TOY7389,Star Wars Board Game
57,184612,4167,2022-02-21 10:06:09,2022-02-21 10:06:09,NaN,0.99,PET4284,"Wet Adult Cat Food, Beef & Beef"
58,190610,4167,2022-04-23 14:25:36,2022-04-23 18:45:00,NaN,3.05,COL7663,Noah's Poster (white)
59,190610,4167,2022-04-23 14:25:36,2022-04-23 18:45:00,NaN,3.05,PET2899,"Dry Cat Food, Duck & Duck"
60,200309,4167,2022-07-30 08:56:06,2022-07-30 13:00:00,NaN,0.99,DLI6168,Salted Cucumber Salad

In [92]:
sherry_orders = sherry_orders[['orderid', 'customerid', 'ordered', 'sku', 'desc']]

In [93]:
pd.set_option('display.max_rows', 100)

In [94]:
sherry_orders_col = sherry_orders[sherry_orders['sku'].str.startswith('COL')]

In [95]:
sherry_orders_col

,orderid,customerid,ordered,sku,desc
20,70503,4167,2018-12-31 12:26:58,COL7063,Noah's Poster (azure)
42,124821,4167,2020-06-28 11:36:06,COL7955,Noah's Action Figure (green)
51,170967,4167,2021-10-07 14:58:09,COL6858,Noah's Jersey (blue)
58,190610,4167,2022-04-23 14:25:36,COL7663,Noah's Poster (white)

In [96]:
noahs_orders = noahs_orders.merge(orders_items[['orderid', 'sku']], how = 'left', on = 'orderid')

In [97]:
noahs_orders = noahs_orders.merge(noahs_products[['sku', 'desc']], how = 'left', on = 'sku')

In [98]:
noahs_orders['ordered'] = pd.to_datetime(noahs_orders['ordered'])
sherry_orders_col['ordered'] = pd.to_datetime(sherry_orders_col['ordered'])

/var/folders/z6/mhv044k52r38pf74f9w6gkjc0000gn/T/ipykernel_49767/1920880749.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sherry_orders_col['ordered'] = pd.to_datetime(sherry_orders_col['ordered'])

In [99]:
potential_orders = noahs_orders[noahs_orders['sku'].str.startswith('COL')]

In [100]:
potential_orders

,orderid,customerid,ordered,shipped,items,total,sku,desc
31,1014,4716,2017-01-31 10:23:50,2017-01-31 15:00:00,NaN,4.55,COL4117,Noah's Poster (yellow)
32,1015,3808,2017-01-31 10:29:22,2017-01-31 15:15:00,NaN,13.48,COL8357,Noah's Lunchbox (mauve)
41,1018,2645,2017-01-31 10:53:59,2017-01-31 10:53:59,NaN,16.86,COL6388,Noah's Gift Box (magenta)
84,1040,2520,2017-01-31 13:45:58,2017-01-31 16:30:00,NaN,37.47,COL7454,Noah's Jersey (mauve)
88,1041,8385,2017-01-31 13:47:53,2017-01-31 13:47:53,NaN,8.43,COL2141,Noah's Bobblehead (puce)
...,...,...,...,...,...,...,...,...
426495,214217,6222,2022-12-16 21:57:11,2022-12-16 21:57:11,NaN,20.33,COL9349,Noah's Action Figure (orange)
426498,214218,5950,2022-12-16 22:00:02,2022-12-18 20:30:00,NaN,7.90,COL0837,Noah's Poster (mauve)
426521,214227,8352,2022-12-16 22:58:00,2022-12-23 11:00:00,NaN,44.24,COL1263,Noah's Action Figure (yellow)
426532,214231,3894,2022-12-16 23:48:43,2022-12-23 18:15:00,NaN,17.48,COL3430,Noah's Lunchbox (green)
426536,214232,1368,2022-12-16 23:49:15,2022-12-17 18:30:00,NaN,12.92,COL6388,Noah's Gift Box (magenta)

In [101]:
potential_orders['ordered'] = potential_orders['ordered'].dt.date

/var/folders/z6/mhv044k52r38pf74f9w6gkjc0000gn/T/ipykernel_49767/1036464569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  potential_orders['ordered'] = potential_orders['ordered'].dt.date

In [102]:
sherry_orders_col['ordered'] = sherry_orders_col['ordered'].dt.date

/var/folders/z6/mhv044k52r38pf74f9w6gkjc0000gn/T/ipykernel_49767/3223374082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sherry_orders_col['ordered'] = sherry_orders_col['ordered'].dt.date

In [103]:
potential_orders = potential_orders[potential_orders['ordered'].isin(sherry_orders_col['ordered'])]

In [105]:
sherry_orders_col['item_name'] = sherry_orders_col['desc'].apply(lambda x: x.split(' ')[:-1])

/var/folders/z6/mhv044k52r38pf74f9w6gkjc0000gn/T/ipykernel_49767/2267861676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sherry_orders_col['item_name'] = sherry_orders_col['desc'].apply(lambda x: x.split(' ')[:-1])

In [106]:
sherry_orders_col

,orderid,customerid,ordered,sku,desc,item_name
20,70503,4167,2018-12-31,COL7063,Noah's Poster (azure),"[Noah's, Poster]"
42,124821,4167,2020-06-28,COL7955,Noah's Action Figure (green),"[Noah's, Action, Figure]"
51,170967,4167,2021-10-07,COL6858,Noah's Jersey (blue),"[Noah's, Jersey]"
58,190610,4167,2022-04-23,COL7663,Noah's Poster (white),"[Noah's, Poster]"

In [107]:
potential_orders['item_name'] = potential_orders['desc'].apply(lambda x: x.split(' ')[:-1])

/var/folders/z6/mhv044k52r38pf74f9w6gkjc0000gn/T/ipykernel_49767/102003652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  potential_orders['item_name'] = potential_orders['desc'].apply(lambda x: x.split(' ')[:-1])

In [109]:
potential_orders = potential_orders[potential_orders['item_name'].isin(sherry_orders_col['item_name'])]

In [110]:
potential_orders

,orderid,customerid,ordered,shipped,items,total,sku,desc,item_name
138454,70476,7698,2018-12-31,2018-12-31 11:45:00,NaN,7.85,COL0837,Noah's Poster (mauve),"[Noah's, Poster]"
138456,70477,2610,2018-12-31,2018-12-31 15:30:00,NaN,11.82,COL5018,Noah's Poster (puce),"[Noah's, Poster]"
138463,70480,7087,2018-12-31,2018-12-31 20:00:00,NaN,19.18,COL3038,Noah's Action Figure (purple),"[Noah's, Action, Figure]"
138466,70481,1787,2018-12-31,2018-12-31 14:30:00,NaN,20.66,COL6461,Noah's Jersey (white),"[Noah's, Jersey]"
138518,70502,5783,2018-12-31,2018-12-31 12:26:39,NaN,4.57,COL2467,Noah's Poster (orange),"[Noah's, Poster]"
138519,70503,4167,2018-12-31,2018-12-31 12:26:58,NaN,2.06,COL7063,Noah's Poster (azure),"[Noah's, Poster]"
138531,70506,8045,2018-12-31,2018-12-31 13:00:45,NaN,47.81,COL2466,Noah's Jersey (magenta),"[Noah's, Jersey]"
138533,70507,7474,2018-12-31,2018-12-31 13:02:52,NaN,4.27,COL2467,Noah's Poster (orange),"[Noah's, Poster]"
138612,70552,2798,2018-12-31,2019-01-05 19:15:00,NaN,20.18,COL6332,Noah's Action Figure (magenta),"[Noah's, Action, Figure]"
247313,124807,8163,2020-06-28,2020-06-28 20:00:00,NaN,8.21,COL2467,Noah's Poster (orange),"[Noah's, Poster]"
247336,124819,7283,2020-06-28,2020-06-28 11:25:10,NaN,19.01,COL4117,Noah's Poster (yellow),"[Noah's, Poster]"
247339,124821,4167,2020-06-28,2020-06-28 11:36:06,NaN,13.04,COL7955,Noah's Action Figure (green),"[Noah's, Action, Figure]"
247405,124848,6045,2020-06-28,2020-06-28 16:45:00,NaN,56.15,COL3038,Noah's Action Figure (purple),"[Noah's, Action, Figure]"
247500,124897,5847,2020-06-28,2020-07-01 19:15:00,NaN,7.49,COL2307,Noah's Poster (blue),"[Noah's, Poster]"
339906,170923,1536,2021-10-07,2021-10-07 16:45:00,NaN,31.66,COL8808,Noah's Action Figure (azure),"[Noah's, Action, Figure]"
339956,170948,8505,2021-10-07,2021-10-07 12:21:02,NaN,23.42,COL5340,Noah's Action Figure (amber),"[Noah's, Action, Figure]"
339995,170967,4167,2021-10-07,2021-10-07 20:15:00,NaN,6.65,COL6858,Noah's Jersey (blue),"[Noah's, Jersey]"
340057,170999,6405,2021-10-07,2021-10-09 14:00:00,NaN,19.96,COL1263,Noah's Action Figure (yellow),"[Noah's, Action, Figure]"
340075,171005,8587,2021-10-07,2021-10-10 20:15:00,NaN,6.29,COL2136,Noah's Poster (green),"[Noah's, Poster]"
379306,190569,1574,2022-04-23,2022-04-23 12:45:00,NaN,19.55,COL9349,Noah's Action Figure (orange),"[Noah's, Action, Figure]"
379333,190585,5585,2022-04-23,2022-04-23 12:05:11,NaN,27.87,COL6332,Noah's Action Figure (magenta),"[Noah's, Action, Figure]"
379350,190594,4258,2022-04-23,2022-04-23 12:40:06,NaN,44.65,COL4285,Noah's Jersey (purple),"[Noah's, Jersey]"
379359,190601,9188,2022-04-23,2022-04-23 19:30:00,NaN,31.17,COL2615,Noah's Jersey (green),"[Noah's, Jersey]"
379378,190610,4167,2022-04-23,2022-04-23 18:45:00,NaN,3.05,COL7663,Noah's Poster (white),"[Noah's, Poster]"
379397,190619,1162,2022-04-23,2022-04-23 15:31:27,NaN,11.86,COL7063,Noah's Poster (azure),"[Noah's, Poster]"
379404,190622,3838,2022-04-23,2022-04-23 18:30:00,NaN,32.44,COL2615,Noah's Jersey (green),"[Noah's, Jersey]"
379486,190657,8108,2022-04-23,2022-04-27 14:30:00,NaN,27.94,COL8808,Noah's Action Figure (azure),"[Noah's, Action, Figure]"

In [111]:
customers[customers['customerid'] == 5783]

,customerid,name,address,citystatezip,birthdate,phone,timezone,lat,long
4782,5783,Carlos Myers,1486 Bath Ave,"Brooklyn, NY 11228",1986-04-27,838-335-7157,America/New_York,40.60826,-74.01375